
    h1{
        color:red;
        font-family:'Courier New', Courier, monospace
        
    }
    .footer{
        background-color: antiquewhite;
        color: brown;
        font-weight: bold;
    }